header {
  background: #bbbbbb;
  padding: 20px 0;
}

.box {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover {
  color: #c78c19;
}

.products {
  width: 940px;
  margin: 0 auto;
  padding: 50px;
}

.products li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
}

.products li:hover {
  border-color: #c78c19;
}

.products li:hover h2 {
  font-size: 33px;
}

.products li:active {
  border-color: #088c19;
}

.product h2 {
  font-size: 30px;
  font-weight: bold;
}

.product-description {
  font-size: 18px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
