body {}

.titulo {
    padding: 30px;
}

.banner {
    width: 100%;
    height: 100%;
}

.info {
    background-color: #cccccc;
    padding: 20px;
}

h2 {
    text-align: center;
    border: solid 2px;
    padding: 5px;
}

.ubicacion {
    text-align: center;
    font-size: 20px;
}

.mision {
    text-align: center;
    font-size: 25px;
}

.mision strong {
    color: red;
}

.diferenciales {
    background: white;
    padding: 30px;
}

h3 {
    text-align: center;
}

.item {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgDif {
    width: 50%;
}