body {}

.banner {
    width: 100%;
    height: 100%;
}

.info {
    background-color: #cccccc;
}

h1 {
    text-align: center;
    border: solid 2px;
    padding: 5px;
}

.ubicacion {
    text-align: center;
    font-size: 20px;
}

.mision {
    text-align: center;
    font-size: 25px;
}

.mision strong {
    color: red;
}

.diferenciales {
    background: white;
}

h2 {
    text-align: center;
}

.item {
    font-style: italic;
}

ul {
    display: inline-block;
}

.imgDif {
    width: 50%;
}